.active {
  color: black;
  font-size: 2em;
}

.inActive {
  color: gray;
  cursor: default;
  font-size: 2em;
}


.buttons {
  display: flex;
  align-items: center;
}

.counter {
  min-width: 20px;
  margin: 0;
  text-align: center;
}

